* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.box {
    width: 100px;
    height: 100px;
    background-color: peachpuff;
}
.border {
    border: 5px dashed #000 !important;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}